<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}"/>
</head>
<body>
    <div class="box-zero">
        <div class="box-one">
            <h1>Ocena konsekwencji pandemii Covid-19</h1>
            <p1>. . . . . .  </p1> 
        </div>
        <div class="box-two">
            <br><br>
            <p15>Dziękujemy za wypełnienie ankiety.Przesłaliśmy Twoje dane do analizy</p15> 
            <br></br><br>
            <div class=".end-box"></div>
  
        </div>
    </div>
</body>
</html>
