{% extends "mainpage.html" %}
{% block content %}
	    <div class="box-zero">
    <div class="box-one">
        <h1>Ocena pandemii Covid-19</h1>
        <p1>. </p1> 
        <p2>  . . . .</p2>
    </div>
    <div class="box-two">
        <p4>Pytania identyfikujące respondenta:</p4> 
        <br></br><br></br>
        <p3>
            1. Wiek
            <br></br><br></br><br></br>
            2. Płeć
            <br></br><br></br><br></br>
            3. Uczelnia
            <br></br><br></br><br></br>
            4. Wydział
            <br></br><br></br><br></br>
        </p3>
    </div>
	<div class="box-3">
        <p4>Pytania identyfikujące respondenta:</p4> 
        <br></br><br></br>
        <p3>
            1. Wiek
            <br></br><br></br><br></br>
            2. Płeć
            <br></br><br></br><br></br>
            3. Uczelnia
            <br></br><br></br><br></br>
            4. Wydział
            <br></br><br></br><br></br>
        </p3>
    </div>
    </div>
{% endblock %}